@font-face {
    font-family: 思源黑体Regular;
    src: url("思源黑体Regular.ttf");
}
* {
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: #00000000;
    border: none;
    outline: none;
    font-family: "思源黑体Regular"; 
    transition: all 0.25s;
}
/*
html {
    filter: invert(1) hue-rotate(180deg);
}
*/
.main {
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-template-rows: 40px 55px 1fr;
    grid-column-gap: 1.5px;
    grid-row-gap: 1.5px;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
}
.main1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #ffffff;
}
.main2 {
    grid-area: 3 / 1 / 4 / 2;
    background-color: #ffffff;
}
.main3 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #ffffff;
}
.main4 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #ffffff;
}
.main5 {
    grid-area: 3 / 2 / 4 / 3;
    background-color: #f0f0f0;
    box-shadow: #808080 3px 3px 8px 0px inset;
}
.line_rows {
    position: absolute;
    background-color: #b6b6b6;
    width: 100%;
    height: 1.5px;
}
.line_columns {
    position: absolute;
    background-color: #b6b6b6;
    width: 1.5px;
    height: 100%;
}
.title:hover {
    transform: scale(1.1);
}
.menu1 {
    width: 165px;
    margin-top: 11px;
    margin-bottom: 7px;
    padding-left: 7px;
    padding-bottom: 4.5px;
    border-bottom-color: #cacaca;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.menu2 {
    width: 150px;
    height: 37.5px;
    margin: 5px 4px;
    padding-left: 13px;
    line-height: 39px;
    border-bottom: #00000000 1.5px solid;
}
.menu2:hover {
    background-color: #f0f0f0;
}
.menu2:active {
    background-color: #d9d9d9;
}
.background1 {
    position: relative;
    width: auto;
    height: 450px;
    margin: 50px 8%;
    padding: 65px 6%;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #b6b6b6;
    box-shadow: #808080 4px 4px 10px 1px;
}
.upgradeTable {
    background-color: #ffffff;
    text-align: center;
    font-size: 17px;
    width: 100%;
    height: auto;
    margin: 0px auto;
    border-style: solid;
    border-width: 2px;
    border-color: #d9d9d9;
}
table {
    border-collapse: collapse;
}
.td_rows {
    border-bottom: 1px solid #d9d9d9;
}
.td_colums {
    border-right: 1px solid #d9d9d9;
}
.td_both {
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}
.upgrade {
    width: 65px;
    height: 42px;
    line-height: 42px;
    margin: 0px auto;
    border-style: solid;
    border-width: 1.5px;
    border-color: #b6b6b6;
    color: #000000;
    background-color: #ffffff;
    box-shadow: #b6b6b6 0px 0px 4px 0px;
}
.upgrade:hover {
    background-color: #f0f0f0;
}
.upgrade:active {
    background-color: #d9d9d9;
}
.upgrade_unable {
    width: 65px;
    height: 42px;
    line-height: 42px;
    margin: 0px auto;
    border-style: solid;
    border-width: 1.5px;
    border-color: #ffc6c6;
    color: #d9d9d9;
    background-color: #ffffff;
    box-shadow: #ffc6c6 0px 0px 4px 0px;
}
.upgrade_unable:hover {
    background-color: #ffeded;
}
.upgrade_unable:active {
    background-color: #ffdede;
}
.upgrade_max {
    width: 65px;
    height: 42px;
    line-height: 42px;
    margin: 0px auto;
    border-style: solid;
    border-width: 1.5px;
    border-color: #8fe68e;
    color: #d9d9d9;
    background-color: #c7ffc5;
    box-shadow: #8fe68e 0px 0px 4px 0px;
}
.reset_hard {
    width: 65px;
    height: 42px;
    line-height: 42px;
    margin: 0px auto;
    border-style: solid;
    border-width: 1.5px;
    border-color: #ff7070;
    color: #ff7070;
    background-color: #ffffff;
    box-shadow: #ff7070 0px 0px 4px 0px;
}
.reset_hard:hover {
    background-color: #ffe0e0;
}
.reset_hard:active {
    background-color: #ffc2c2;
}
.reset1 {
    position: absolute;
    right: 35px;
    top: 46.75px;
    width: 45px;
    height: 45px;
    font-size: 48px;
    line-height: 40px;
    color: #169be3;
    text-shadow: 1.5px 1.5px 3px #169be3;
    background-color: #ffffff;
    overflow: hidden;
}
.reset1:hover {
    background-color: #f0f0f0;
}
.reset1:active {
    background-color: #d9d9d9;
}
.dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 480px;
    margin-top: -202.5px;
    margin-left: -242.5px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 2.5px;
    border-color: #cacaca;
    font-size: 17px;
    text-align: center;
}
.dialog_background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000005d;
    z-index: 100;
}
.dialog_button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 47px;
    width: 95px;
    margin-top: 110px;
    margin-left: -150.5px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #b6b6b6;
    color: #000000;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 47px;
    text-align: center;
    box-shadow: #b6b6b6 0px 0px 4px 0px;
}
.dialog_button:hover {
    background-color: #f0f0f0;
}
.dialog_button:active {
    background-color: #d9d9d9;
}
.dialog_button_unable {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 47px;
    width: 95px;
    margin-top: 110px;
    margin-left: -150.5px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #ffc6c6;
    color: #d9d9d9;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 47px;
    text-align: center;
    box-shadow: #ffc6c6 0px 0px 4px 0px;
}
.dialog_button_unable:hover {
    background-color: #ffeded;
}
.dialog_button_unable:active {
    background-color: #ffdede;
}
.achievement {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: #b6b6b6;
    color: #000000;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 47px;
    text-align: center;
    box-shadow: #b6b6b6 0px 0px 4px 0px;
}
.achievement:hover {
    background-color: #f0f0f0;
}
.achievement:active {
    background-color: #d9d9d9;
}
.achievement_finish {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: #8fe68e;
    color: #000000;
    background-color: #c7ffc5;
    font-size: 18px;
    line-height: 47px;
    text-align: center;
    box-shadow: #8fe68e 0px 0px 4px 0px;
}
.achievement_finish:hover {
    background-color: #b8f2b6;
}
.achievement_finish:active {
    background-color: #a9e5a7;
}
.input {
    resize: none;
    width: 40px;
    height: 27px;
    line-height: 27px;
    margin: -10px auto;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-bottom-color: #b6b6b6;
    font-size: 17px;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
}
.input:hover {
    border-bottom-color: #808080;
}
::-webkit-scrollbar {
    width: 3px;
    height: 10px;
    background-color: #f0f0f000;
}
::-webkit-scrollbar-track {
    background-color: #f0f0f000;
}
::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #cacaca;
}
::-webkit-scrollbar-thumb:active {
    background-color: #b6b6b6;
}